<!DOCTYPE html>
<html>
    <head>
        <title>TECLAB - PRODUCTOS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./assets/css/main.css"  rel="stylesheet">
    </head>
    <body>
        <section style="background-color: #2780b1; text-align: center;">
            <img src="./assets/img/teclab.png">
        </section>
        <section>
            <center>
                <table id="productos">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>ID</th>
                            <th>Categoria</th>                       
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>M - E</td>
                            <td>1</td>
                            <td>Monitores</td>
                        </tr>
                        <tr class="gris">
                            <td>M - E</td>
                            <td>2</td>
                            <td>Teclados</td>
                        </tr>
                        <tr>
                            <td>M - E</td>
                            <td>3</td>
                            <td>Audio</td>
                        </tr>
                        <tr class="gris">
                            <td>M - E</td>
                            <td>4</td>
                            <td>Micro Procesadores</td>
                        </tr>
                    </tbody>
                </table>
                <label id="label" style="display: none;">Texto del label</label>
                <button type="button" class="btn-agregar" id="boton_agregar">Agregar</button>
            </center>   
        </section>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="./assets/js/main.js" type="text/javascript"></script>
        
    </body>
</html>
