<!DOCTYPE html>
<html>
    <head>
        <title>TECLAB - Proyecto Productos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="./assets/css/main.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <section style="background-color: #2780b1; text-align: center">
            <img src="./assets/img/teclab.png">
        </section>
        <section>
            <h1>TECLAB PRODUCTOS</h1>
            <p class="italica">
                Información general
                <span class="resaltado">Texto resaltado</span>
            </p>
            <a href="https://www.google.com" target="_blank">Click aqui</a>
        </section>
    </body>
</html>
