<!DOCTYPE html>
<html>

<head>
    <title>Mi Tienda - Categor&iacute;as</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../assets/css/estilos.css">
</head>

<body>
    <div class="container">
        <img src="../../assets/img/tienda.png" alt="imagen de tienda" width="200">
        <form id="form_cat">
            <label>Nombre de la categor&iacute;a</label>
            <input type="text" id="categorias">
            <button type="button" class="btnl">Cancelar</button>
            <button type="submit">Guardar</button>
            <h2>Gast&oacute;n Descalzo</h2>
        </form>
    </div>
    <!-- Punto 1 - API 2 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="../../assets/js/validaciones.js" type="text/javascript"></script>
    <!-- Punto 1 - API 2 -->
</body>

</html>